<div class="container" style="margin-top:2em; margin-bottom: 2em;">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center">
        <!-- Log In -->
        <div class="card">
            <div class="card-header heading-footer"></div>
            <div class="card-block text-center" style="margin-left:5em; margin-right: 5em;">
                <img class="panel-profile-img rounded-circle" src="assets/image/user.png">
                <h1 class="h3 mb-3 font-weight-bold">Small Warehouse</h1>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text bg-white">
                            <i class="fa fa-user"></i>
                          </div>
                        </div>
                        <input type="text" name="username" id="username" class="form-control" placeholder="Username" formControlName="username" [ngClass]="{ 'is-invalid': f.username.errors }">
                        <div *ngIf="f.username.errors" class="invalid-feedback">
                          <div *ngIf="f.username.errors.required">Ingresar usuario</div>
                        </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text bg-white">
                            <i class="fa fa-lock"></i>
                          </div>
                        </div>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': f.password.errors }">
                        <div *ngIf="f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Ingresar password</div>
                        </div>
                      </div>
                  </div>
                  <div class="form-group d-flex justify-content-center">
                    <button class="btn btn-primary btn-lg btn-block col-sm-4"> Log In </button>
                  </div>
                </form>

                <div class="row d-flex justify-content-center" >
                  <div class="col-sm-12">
                    <small>Elaborado por: &copy; {{nombre}}</small>
                  </div>
                  <div class="col-sm-12">
                    <small>{{anio}}</small>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>